<div>
    <div
        class="ml-3 w-full mb-6 lg:mb-0 mx-auto relative bg-white text-center px-6 rounded-[20px] mt-[180px] md:mt-[220px] lg:mt-0 ">

        <img alt="avatar"
            src="https://media.licdn.com/dms/image/C4D03AQGSgwjmkSPZZQ/profile-displayphoto-shrink_800_800/0/1655396216991?e=1700697600&v=beta&t=zt6i6jVnw59tVM-QroGc2Dm80bzOs__yCwi1BnyyIIY"
            width="240" height="240" decoding="async" data-nimg="1"
            class="w-[240px] absolute left-[50%] transform -translate-x-[50%] h-[240px] drop-shadow-xl mx-auto rounded-[20px] -mt-[140px]"
            loading="lazy" style="color: transparent;">

        <div class="pt-[100px] pb-8">
            <h1 class="mt-6 mb-1 text-5xl font-semibold ">Marvin Archila</h1>
            <h3 class="mb-4 text-[#7B7B7B] inline-block  px-5 py-1.5 rounded-lg  ">
                BackEnd Developer</h3>
            <!--Redes cambiar facebook por github-->
            <div class="flex justify-center space-x-3">
                <a href="https://github.com/MarvinArch" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/marvin-david-archila/" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
            <!-- Fin Redes-->
            <div class="p-7 rounded-2xl mt-7 bg-[#F3F6F6] ">
                <div class="flex py-2.5 border-b border-[#E3E3E3]">
                    <i class="fa-solid fa-phone"></i>
                    <div class="text-left ml-2.5">
                        <p class="text-xs text-[#44566C]">Celular</p>
                        <p class="break-all">
                            +502 4179-5878
                        </p>
                    </div>
                </div>
                <div class="flex py-2.5 border-b border-[#E3E3E3] ">
                    <i class="fa-solid fa-location-dot"></i>
                    <div class="text-left ml-2.5">
                        <p class="text-xs text-[#44566C] ">Location</p>
                        <p class=" break-all">Guatemala</p>
                    </div>
                </div>
                <div class="flex py-2.5 border-b border-[#E3E3E3] ">
                    <i class="fa-solid fa-envelope"></i>
                    <div class="text-left ml-2.5">
                        <p class="text-xs text-[#44566C] ">Email</p>
                        <p class="break-all">
                            <a class="hover:text-[#3498db] duration-300 transition"
                                href="mailto:marvinejo@gmail.com">marvinejo@gmail.com</a>
                        </p>
                    </div>
                </div>
                
            </div>
            <a href="#" download=""
                class="inline-flex items-center mx-auto bg-gradient-to-r from-[#2196e5] to-[#4c5962] duration-200 transition ease-linear hover:bg-gradient-to-l from-[#DD2476] to-[#fa5252ef] px-8 py-3 text-lg text-white rounded-[35px] mt-6">
                <img src="/images/download.png" alt="" class="mr-2">Download CV</a>
        </div>

    </div>
</div>