<div class="grid grid-cols-5 p-4 mt-5 rounded-lg bg-gray-800 mr-5">
    <div class="rounded-lg bg-gray-600 hover:bg-sky-700 mx-2 " routerLink="/home">
        <i class="fa-solid fa-house" style="color: #c0bfbc;"></i>
        <h4 class="text-center text-white">home</h4>
    </div>
    <div class="rounded-lg bg-gray-600 hover:bg-sky-700 mx-2 " routerLink="/resume">
        <i class="fa-thin fa-file-lines" style="color: #c0bfbc;"></i>
        <h4 class="text-center text-white">Resume</h4>
    </div>
    <div></div>
    <div></div>
    <div></div>
</div>
